<div id="footer">
    <img src="{resourcewell-img}/main/container-btm.png" />
    <div class="container">
        <a href="#top"><img src="{resourcewell-img}/main/returntotop.png" class="returntotop" /></a>
        <ul>
            <li><a href="http://www.resourcewell.org">Home</a></li>
            <li><a href="http://www.resourcewell.org/children-ministry">Children</a></li>
            <li><a href="http://www.resourcewell.org/youth-ministry">Youth</a></li>
<!--
            <li><a href="http://www.resourcewell.org/adult-ministry">Adult</a></li>
            <li><a href="http://www.resourcewell.org/churchinyourhome">Church in Your Home</a></li>
-->			
            <li><a href="http://www.resourcewell.org/about">About</a></li>
            <li><a href="http://www.resourcewell.org/contact">Contact</a></li>
        </ul>
        <ul id="copyright">
            <li class="lowercase">&copy; Copyright 2012 Resource Well. All Rights Reserved.</li>
            <li><a href="http://www.resourcewell.org/privacy_policy">Privacy Policy</a></li>
            <li><a href="http://www.resourcewell.org/terms">Terms of Use</a></li>
        </ul>
    </div>
</div>

</body>
</html>
</html>