<div class="module-280{if embed:margin != ''} {embed:margin}{/if}">
    <div class="top"></div>
    <div class="mid" style="position: relative">
        <h4>The Mission</h4>
        <img src="{resourcewell-img}/icon/globe-lrg.png" style="position: absolute;"/>
        <p style="margin-left: 65px;">Our mission is to support the work of ministry leaders everywhere by offering free resources including materials and ideas.</p>
        <p><a href="{site_url}about/support-the-mission/" class="blue-call">Learn About The Mission</a></p>
    </div>
    <div class="btm"></div>
</div>
{if segment_1 == "home"}
	<div class="module-280{if embed:margin != ''} {embed:margin}{/if}" data-swiftype-index="false">
	    <div class="top"></div>
	    <div class="mid" style="position: relative">
			<h4>Download Adobe Reader to view files</h4>
			<a href="https://www.adobe.com/acrobat/pdf-reader.html" target="_blank"><img src="/_assets/img/icon/get_adobe_reader.png" style="padding: 10px 0 10px 5px" align="center"></a>
		</div>
		<div class="btm"></div>
	</div>
{/if}