{embed="_includes/header" htmltitle="Children&rsquo;s Ministry: The Word, The Worship, The Way"}
{embed="_includes/nav" active="children"}

{if segment_3 == ""}
    {exp:static_page_caching:automatic_cache}
{/if}


<div class="container mid">
	<div id="subhead-curriculum">
		<div class="breadcrumb">
			You are here: &nbsp;<a href="#">Home</a> &nbsp;/ Children's Ministry
		</div>
		<h1 class="din">The Worship, The Word &amp; The Way</h1>
		<ul>
			<li><a href="http://www.resourcewell.org/children-ministry/">Overview</a></li>
			<li class="active">Curriculum</li>
			<li><a href="http://www.resourcewell.org/children-ministry/verses/">Bible Memory Verse Songs</a></li>
			<li><a href="http://www.resourcewell.org/children-ministry/other/">Other Resources</a></li>
			<li><a href="http://www.resourcewell.org/discussions/children-discussion/">Discussion</a></li>
		</ul>
	</div>
        
<div class="w585 marg-t-20">
	<h5 class="din">Scope &amp; Sequence</h5>
        <div>
            {exp:channel:entries channel="childrenyear" dynamic="off" sort="asc" order_by="title"}
    		<ul class="scope_summary">
				{if year-units}
					<h1>{title}</h1>
				{/if}
				{year-units disable="member_data|pagination"}            		
					{categories}
						{if category_id == "424"}
							<li class="unit_header">
								{title}
							</li>
						{if:else}
							<li class="head">
								{title}
								<div>
									{unit-descrip}
								</div>
							</li>
						{/if}
					{/categories}
					{if {unit-lessons:total_children} > 0}
					<?php
						$homepage = file_get_contents('http://www.resourcewell.org/children-ministry/_loop_lessons/entries/'.'{unit-lessons:entry_ids}');
						echo $homepage;
					?>
					{if:else}
						<div>No Lessons found for this unit</div>
					{/if}
					{/year-units}
           	</ul>
            <?php
            ++$catcount;
            ?>
            {/exp:channel:entries}
        </div>

	</div>

	<div id="sidebar" class="w315">
		<br />
		{embed="_components/themission"}
        	{embed="_components/newsletter"}
	</div>
    <div class="clear"></div>
</div>

{embed="_includes/footer"}