{embed="_includes/header" htmltitle="Children&rsquo;s Ministry: The Word, The Worship, The Way"}
{embed="_includes/nav" active="children"}


<div class="container mid">
	<div id="subhead-curriculum">
		<div class="breadcrumb">
			You are here: &nbsp;<a href="#">Home</a> &nbsp;/ Children's Ministry
		</div>
		<h1 class="din">The Worship, The Word &amp; The Way</h1>
		<ul>
			<li><a href="http://www.resourcewell.org/children-ministry/">Overview</a></li>
			<li><a href="http://www.resourcewell.org/children-ministry/curriculum/">Curriculum</a></li>
			<li class="active"><a href="http://www.resourcewell.org/children-ministry/verses/">Bible Memory Verse Songs</a></li>
			<li><a href="http://www.resourcewell.org/children-ministry/other/">Other Resources</a></li>
<!--			<li><a href="http://www.resourcewell.org/discussions/children-discussion/">Discussion</a></li>	-->
		</ul>
	</div>

	<div class="w585 marg-t-20">
		<div>
{!--		{embed="_components/all_verses_menu" }		--}
<?php
	// Activate below if you want to use Cache 
	require_once ('/var/www/ee/scripts/keephpcache/KeePHPCache_resourcewell.php');

	$cache			= new KeePHPCache();
	$exp_interval 	= 60*24*30;									// Expiration interval: minutes
	$request_uri 	= '/_components/all_verses_menu';			// Template file that you want to cache
	
	// Check if the cache file is expired
	if (!$cache->isCacheExpired($request_uri, $exp_interval))
	{
		// Return cached contents by getting the location of cache file (/var/www/ee/new_page_caching/$request_uri/index.html)
		include($cache->getRealCacheFilePath($request_uri));
		echo "<!-- End of Cached contents at " . $request_uri . "... -->";
	}
	else
	{
		// Write content into a cache file and display it
		echo $cache->writeCacheFile($request_uri);
		echo "<!-- End of Live contents at " . $request_uri . "... -->";
	}
?>
		</div>

	</div>

	<div id="sidebar" class="w315">
		<br />
		{embed="_components/themission"}
		{embed="_components/newsletter"}
	</div>
    <div class="clear"></div>
</div>

<script type="text/javascript">
$(document).ready(function() {
	switches = $('ul.sub-tabs > li');
	slides = $('#scopes > ul.scope');
	switches.each(function(idx) {
		$(this).data('slide', slides.eq(idx));
	}).click(function() {
		switches.removeClass('active');
		slides.removeClass('shown');             
		$(this).addClass('active');  
		$(this).data('slide').addClass('shown');

		$('#scopes > ul.scope > div').hide();
		$('ul.scope[class="scope shown"] > li[class="head"]:first').nextUntil('li.head').show();
		$('#scopes > ul.scope > div > li:not([class])').hide();
		//$('#scopes > ul.shown > div > li[class="sub"]:first').nextUntil('li.head, li.sub').show();
		$('ul.scope[class="scope shown"] > li[class="head"]:first').next('div').children('li').show();
	});

	$('#scopes > ul.scope > div').hide();
	$('ul.scope[class="scope shown"] > li[class="head"]:first').nextUntil('li.head').show();

	$('#scopes > ul.scope > li.head').click(function (){
		$('#scopes > ul.scope > div').hide();    
		$('#scopes > ul.scope > div > li:not([class])').hide();

		$(this).nextUntil('#scopes > ul.scope > li.head').show();
		$(this).next('div').children('li').show();
	});

	$('ul.scope li a').click(function (){
		$.get($(this).attr('href'),function(data) {
			create(data);
		});
		return false;
	});
});
</script>

{embed="_includes/footer"}