{exp:channel:entries channel="childrenlesson" dynamic="on" limit="1"}
	{embed="_includes/header" htmltitle="Children&rsquo;s Ministry: Lesson: {title}"}
{/exp:channel:entries}

{embed="_includes/nav" active="children"}
{replace}


<script type="text/javascript">

$(document).ready(function() {

	console.log('title: ' + '{segment_3}');
	$('#{segment_3}').addClass("active");
	$('#year-menu > li.unit > ul > div > li:not([class])').hide();
//	$('#year-menu > li.unit > ul > div > li.active').prevUntil('li.sub').show();
//	$('#year-menu > li.unit > ul > div > li.active').nextUntil('li.sub').show();
	$('#{segment_3}').parent().parent().parent().parent().show();
	$('#{segment_3}').parent().parent().show();
	$('#{segment_3}').prevUntil('li.sub').show();
	$('#{segment_3}').nextUntil('li.sub').show();

    switches = $('#switches > li');
    slides = $('#slides > div');
    switches.each(function(idx) {
        $(this).data('slide', slides.eq(idx));
    }).click(
        function() {
        switches.removeClass('active');
        slides.removeClass('shown');             
        $(this).addClass('active');  
        $(this).data('slide').addClass('shown');
	return false;
    });

    switches2 = $('#switches-lesdis > li');
    slides2 = $('#lesson-discussion > div');
    switches2.each(function(idx) {
        $(this).data('slide', slides2.eq(idx));
    }).click(
        function() {
        switches2.removeClass('active');
        slides2.removeClass('shown');             
        $(this).addClass('active');  
        $(this).data('slide').addClass('shown');
	return false;
    });


	$('#year-menu > li.unit > ul > div > li.sub').click(function() {
		$('#year-menu > li.unit > ul > div > li:not([class]), #year-menu > li.unit > ul > div > li.active').show();
		$(this).nextUntil('li.sub').show();
	});

});

</script>

<div class="container mid">
	<div id="subhead-curriculum">
		<div class="breadcrumb">
			You are here: &nbsp;<a href="http://www.resourcewell.org">Home</a> &nbsp;/ Children's Ministry
		</div>
		
		<h1 class="din">Children's Resources</h1>
		<ul>
			<li><a href="http://www.resourcewell.org/children-ministry/">Overview</a></li>
			<li class="active"><a href="http://www.resourcewell.org/children-ministry/curriculum/">Curriculum</a></li>
			<li><a href="http://www.resourcewell.org/children-ministry/verses/">Bible Memory Verse Songs</a></li>
			<li><a href="http://www.resourcewell.org/children-ministry/other/">Other Resources</a></li>
			<li><a href="http://www.resourcewell.org/discussions/children-discussion/">Discussion</a></li>
		</ul>
	</div>

{!--
	{embed="_components/curriculum_menu" }
--}
<?php
	// Activate below if you want to use Cache 
	require_once ('/var/www/ee/scripts/keephpcache/KeePHPCache_resourcewell.php');

	$cache			= new KeePHPCache();
	$exp_interval 	= 20000;									// Expiration interval: minutes
	$request_uri 	= '/_components/curriculum_menu';			// Template file that you want to cache
	
	// Check if the cache file is expired
	if (!$cache->isCacheExpired($request_uri, $exp_interval))
	{
		// Return cached contents by getting the location of cache file (/var/www/ee/new_page_caching/$request_uri/index.html)
		include($cache->getRealCacheFilePath($request_uri));
		echo "<!-- End of Cached contents at " . $request_uri . "... -->";
	}
	else
	{
		// Write content into a cache file and display it
		echo $cache->writeCacheFile($request_uri);
		echo "<!-- End of Live contents at " . $request_uri . "... -->";
	}
?>

	<div class="w705 marg-t-20">
        {exp:channel:entries channel="childrenlesson" dynamic="on" limit="1" track_views="one"}
		<h4 class="din-lrg">
			{exp:low_replace find="2Lesson|3Lesson|4Lesson" multiple="yes" replace="Lesson"}
				{title}
			{/exp:low_replace}
		</h4>
        {/exp:channel:entries}
	    <div class="sub-tab-wrap">
			<ul id="switches-lesdis" class="sub-tabs">
				<li class="active">Lesson</li>
				<li>Discussion</li>
			</ul>
		</div>
		<div class="clear marg-b-20"></div>

        <div class="right">
			{exp:channel:entries channel="childrenlesson" url_title="{segment_3}" dynamic="off"}
			    {if lesson-full}
                    <div class="fullLesson" style="display:none">
						<h6>Download Lesson</h6>
						<p>
							{categories}<?php $category_id = "{category_id}"?>{/categories}
							{lesson-full}
							<?php $val = "{title}"; ?>
							<?php preg_match_all('/-[0-9]+/',$val,$title); ?>
<!--						<a href="{files-location}">{exp:low_replace find="{filenaming}" multiple="yes"}{title}{/exp:low_replace}-->
							<a href="http://resourcewell.s3.amazonaws.com/children/{files-newloc}">{exp:low_replace find="{filenaming}" multiple="yes"}{title}{/exp:low_replace}
								<?php if ($category_id != '419'){
									echo " (Ages ";
									echo substr($title[0][0],1).$title[0][1].")";
								}
								?>
							</a><br />
							{/lesson-full}
						</p>
                    </div>
					<br />
			    {/if}
			{/exp:channel:entries}

            <div id="share">
                <img src="{resourcewell-img}/button/share-this.png" />
                {exp:channel:entries channel="childrenlesson" dynamic="on" limit="1"}
                <a href="http://www.facebook.com/share.php?u={url_title_path='children-ministry/lesson'}" target="_blank"><img src="{resourcewell-img}/share/facebook.png" /></a>
                <a href="http://twitter.com/home?status=Check%20out%20all%20these%20great%20ministry%20resources!%20http://www.resourcewell.org"><img src="{resourcewell-img}/share/twitter.png" /></a>
                {/exp:channel:entries}
            </div>
        </div>

        <div id="lesson-discussion">

            <div class="shown">
                <div class="lesson-description">
                    {exp:channel:entries channel="childrenlesson" dynamic="on" limit="1" track_views="one"}{lesson-descrip}{/exp:channel:entries}
                </div>

				{exp:channel:entries channel="childrenlesson" url_title="{segment_3}" dynamic="off"}
					{if no_results}
					<div>
						<div class="bullets">
							<div>Sorry, there are no lessons for this age group.</div>
						</div>
					</div>
					{/if}
					<div class="shown">
						<div class="bullets">
							{if lesson-worship}
							<div>
								<span>The Worship</span>
								{lesson-worship}
							</div>
							{/if}
							{if lesson-word}
							<div class="alt">
								<span>The Word</span>
								{lesson-word}
							</div>
							{/if}
							{if lesson-way}
							<div>
								<span>The Way</span>
								{lesson-way}
							</div>
							{/if}
						</div>
						<div class="clear"></div>
					</div>
				{/exp:channel:entries}

                <div id="lesson-detail">
                    <ul id="switches">
                        <li class="active"><a href="#">Documents</a></li>
                        <li><a href="#">Video</a></li>
                        <li><a href="#">Audio</a></li>
                    </ul>

		<div id="slides">
			{exp:channel:entries channel="childrenlesson" url_title="{segment_3}" dynamic="off"}
			<div class="shown">
			    <div class="docs">
				<h6>Documents</h6>

				{if lesson-docs}
					<p>
					<?php $catIs = "safe"; ?>
					{categories}
						
						<?php if (("{category_id}" == "419") || ("{category_id}" == '344')){
							$catIs = "unsafe";
						} ?>

					{/categories}
					{lesson-docs}
						<?php $val = "{title}"; ?>
						<?php preg_match_all('/-[0-9]+/',$val,$title); ?>
						{if files-newloc ==''}{exp:low_replace find="http://www.resourcewell.org/_resources/children/" replace="http://resourcewell.s3.amazonaws.com/children/"}<a href="{files-location}">{/exp:low_replace}{if:else}<a href="http://resourcewell.s3.amazonaws.com/children/{files-newloc}">{/if}{exp:low_replace find="{filenaming}" multiple="yes"}{title}{/exp:low_replace}
						<?php if ($catIs=="safe"){
							echo " (Ages ";
							echo substr($title[0][0],1).$title[0][1].")";
							}
						?>
						</a><br />
					{/lesson-docs}
				    </p>
				{if:else}No documents.
				{/if}
				</div>
			</div>

			<div>
				<div class="video">
				<h6>Video</h6>

				{if lesson-video}
					<p>
					{categories}<?php $category_id = "{category_id}"?>{/categories}
					{lesson-video}
						<?php $val = "{title}"; ?>
						<?php preg_match_all('/-[0-9]+/',$val,$title); ?>
						{if files-newloc ==''}
							{if files-thirdparty !=''}<a href="http://{files-thirdparty}">
							{if:else}{exp:low_replace find="http://www.resourcewell.org/_resources/children/" replace="http://resourcewell.s3.amazonaws.com/children/"}<a href="{files-location}">{/exp:low_replace}{/if}
						{if:else}<a href="http://resourcewell.s3.amazonaws.com/children/{files-newloc}">{/if}
						{exp:low_replace find="{filenaming}|1-|2-|3-|4-|5-|6-|7-|8-|9-|10-|11-|12-" multiple="yes"}{title}{/exp:low_replace}
						</a><br />
					{/lesson-video}
					</p>
				{if:else}No videos.{/if}
				</div>
			</div>

			<div>
                <div class="audio">
				<h6>Audio</h6>

				{if lesson-audio}
					<p>
					{categories}<?php $category_id = "{category_id}"?>{/categories}
					{lesson-audio}
						<?php $val = "{title}"; ?>
						<?php preg_match_all('/-[0-9]+/',$val,$title); ?>
						{if files-newloc ==''}{exp:low_replace find="http://www.resourcewell.org/_resources/children/" replace="http://resourcewell.s3.amazonaws.com/children/"}<a href="{files-location}">{/exp:low_replace}{if:else}<a href="http://resourcewell.s3.amazonaws.com/children/{files-newloc}">{/if}{exp:low_replace find="{filenaming}" multiple="yes"}{title}{/exp:low_replace}
						</a><br />
					{/lesson-audio}
				    </p>
				{if:else}No audio.{/if}
                </div>
			</div>

			{/exp:channel:entries}
		</div>

				</div>
            </div>

            <div id="discussion">
                <div id="comments">
                    <h4>Comments</h4>
                    {exp:comment:entries sort="asc"}
                    {if no_results}<div class="nocomments">No one has commented yet. Be the first!</div>{/if}
                    <div class="comment">
                        <div class="author">
                        	<strong>{name}</strong> 
                        	<span>{comment_date format="%M. %j, %Y"}</span>
                        </div>
                        <div class="said">
                        	{comment}
                        </div>
                    </div>
                    {/exp:comment:entries}
                    <div class="clear"></div>
        
                    <div id="newcomment">
                    	<h4 id="addacomment" class="bord-b marg-b-20">Add a Comment</h4>
                        {exp:comment:form}
                    	{if logged_out}
                        <p>
                    		<input type="text" name="name" size="50" />
                    		<label for="name"><strong>Name:</strong> <span class="required">*This field is required.</span></label>
                    	</p>
                    	<p>
                    		<input type="text" name="email" size="50" />
                    		<label for="email"><strong>Email:</strong> <span class="required">*This field is required.</span></label>
                        </p>
                    	{/if}
                    	<textarea name="comment" cols="70" rows="10">{comment}</textarea>
                    	<p>
                    		<input type="checkbox" name="save_info" value="yes" {save_info} /> Remember my personal information<br />
                    		<input type="checkbox" name="notify_me" value="yes" {notify_me} /> Notify me of follow-up comments?
                    	</p>
                    	<input type="submit" name="submit" value="Submit" />
                    	{/exp:comment:form}
                    </div>
                </div>
        		<div class="clear marg-b-40"></div>
            </div>

        </div>

	</div>
    <div class="clear"></div>
</div>

{embed="_includes/footer"}