{embed="_includes/header" 
	imageurl="{site-url}/_resources/children/WWWLogoRGB-web_square.png" 
	htmltitle="Children&rsquo;s Ministry: Other Resources"}
{embed="_includes/nav" active="children"}

<div class="container mid">
	<div id="subhead-curriculum">
		<div class="breadcrumb">
			You are here: &nbsp;<a href="/home">Home</a> &nbsp;/ Children's Ministry
		</div>
		<h1 class="din">Other Resources</h1>
		<ul>
			<li><a href="http://www.resourcewell.org/children-ministry/">Overview</a></li>
			<li><a href="http://www.resourcewell.org/children-ministry/curriculum/">Curriculum</a></li>
			<li><a href="http://www.resourcewell.org/children-ministry/verses/">Bible Memory Verse Songs</a></li>
			<li class="active">Other Resources</a></li>
			<li><a href="http://www.resourcewell.org/children-ministry/w3_arabic/">Arabic</a></li>
			<li><a href="http://www.resourcewell.org/children-ministry/w3_spanish/">Spanish</a></li>
<!--			<li><a href="http://www.resourcewell.org/discussions/children-discussion/">Discussion</a></li>	-->
		</ul>
	</div>

	<div class="w585 marg-t-20">
		<p>The resources here are designed to stand alone or supplement Worship, Word & Way Children's Bible Curriculum. These resources are listed alphabetically for your convenience.</p>
		<div class="clear marg-b-40"></div>

{!--}		{embed="_components/children_other_contents" }	--}

<?php
	// Activate below if you want to use Cache 
	require_once ('/var/www/ee/scripts/keephpcache/KeePHPCache_resourcewell.php');

	$cache			= new KeePHPCache();
	$exp_interval 	= 60*24*30;										// Expiration interval: minutes
//	$exp_interval 	= 2;											// Expiration interval: minutes
	$request_uri 	= '/_components/children_other_contents';		// Template file that you want to cache
	
	// Check if the cache file is expired
	if (!$cache->isCacheExpired($request_uri, $exp_interval))
	{
		// Return cached contents by getting the location of cache file (/var/www/ee/new_page_caching/$request_uri/index.html)
		include($cache->getRealCacheFilePath($request_uri));
		echo "<!-- End of Cached contents at " . $request_uri . "... -->";
	}
	else
	{
		// Write content into a cache file and display it
		echo $cache->writeCacheFile($request_uri);
		echo "<!-- End of Live contents at " . $request_uri . "... -->";
	}
?>

	</div>

	<div id="sidebar" class="w315">
		<br />
		{embed="_components/themission"}
		{embed="_components/newsletter"}

	</div>
	<div class="clear"></div>
</div>

{embed="_includes/footer"}