{embed="_includes/header" 
	imageurl="{site_url}_resources/children/WWWLogoRGB-web_square.png" 
	htmltitle="Youth Ministry: Curriculum"}
{embed="_includes/nav" active="youth"}

<link rel="stylesheet" href="//code.jquery.com/ui/1.8.24/themes/base/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.8.2.js"></script>
<script src="//code.jquery.com/ui/1.8.24/jquery-ui.js"></script>


<div class="container mid">
	<div id="subhead-curriculum">
		<div class="breadcrumb">
			You are here: &nbsp;<a href="/home">Home</a> &nbsp;/ Youth Ministries
		</div>
		<h1 class="din">Worship, Word & Way (Ages 12-14)</h1>
		<ul>
			<li><a href="{site_url}youth-ministry/">Overview</a></li>
			<li class="active">Curriculum</li>
			<li><a href="{site_url}youth-ministry/middleschool">Middle School Studies</a></li>
<!-- 	 		<li><a href="http://www.resourcewell.org/youth-ministry/highschool/">High School Studies</a></li> -->
			<li><a href="{site_url}youth-ministry/other/">Other Resources</a></li>	
		</ul>
	</div>

	<div class="w585 marg-t-20">
		<p>
		In this curriculum, over 150 lessons explore the stories of God from
Genesis to Revelation in a three-year cycle. Each lesson includes
leader guides, games, worship, large group and small group discussion,
and three take-homes. The take-homes include a journal entry for
students to review the lesson at home, an action card to help students
remember the main point, and a discussion card for families.
		</p>
		<p>
We are currently developing Worship, Word & Way for ages 12-14.
Additional lessons will be added as they are completed. All materials
are free. Please contact us at <a href="mailto:hello@resourcewell.org?subject=Lessons for Ages 12-14">hello@resourcewell.org</a> if you would
like us to contact you when there is a new lesson.
		</p>
		<div class="clear marg-b-40"></div>


		<div id="tabs">
			<ul style="font-size: 12px; font-weight: bold;">
			{exp:channel:entries channel="youth_year" sort="asc" orderby="title" disable="categories|member_data|custom_fields|pagination"}
                <li><a href="#tabs-{count}">{title}</a></li>
			{/exp:channel:entries}
			</ul>		
			

			{exp:channel:entries 
				channel="youth_year" 
				dynamic="no" orderby="title" sort="asc" 
				disable="categories|member_data|pagination"
			}
			<div id="tabs-{count}">
				{associate_units}
				<div class="otherresource">
					<h4 id="{associate_units:url_title}">{associate_units:title}</h4>
					{associate_units:description}
					<p>
						{associate_units:youth_associated_document_files limit="1"}<strong>Documents:</strong><br>{/associate_units:youth_associated_document_files}
						{associate_units:youth_associated_document_files}
							<a href="{url_youth_file}{associate_units:youth_associated_document_files:file_location}">{associate_units:youth_associated_document_files:title}</a><br>
						{/associate_units:youth_associated_document_files}
					</p>
				</div>
				{/associate_units}
			</div>
			{/exp:channel:entries}

		</div>

	</div>

	<div id="sidebar" class="w315">
		<br />
		{embed="_components/themission"}
		{embed="_components/newsletter"}

	</div>
	<div class="clear"></div>
</div>

<script>

$(function() {
	$("#tabs").tabs(); 
	
	$("#tabs > ul > li:first-child").removeClass("ui-state-focus ui-tabs-selected ui-state-active");
	$("#tabs > ul > li:nth-child(2)").addClass("ui-state-focus ui-tabs-selected ui-state-active");
	
	$("#tabs-2").removeClass("ui-tabs-hide");
	$("#tabs-1").addClass("ui-tabs-hide");
	$("#tabs-3").addClass("ui-tabs-hide");
	
	
});

</script>

{embed="_includes/footer"}