<div id="footer">
    <img src="{resourcewell-img}/main/container-btm.png" />
    <div class="container">
        <a href="#top"><img src="{resourcewell-img}/main/returntotop.png" class="returntotop" /></a>
        <ul>
            <li><a href="{site_url}">Home</a></li>
            <li><a href="{site_url}children-ministry">Children</a></li>
            <li><a href="{site_url}youth-ministry">Youth</a></li>
            <li><a href="{site_url}about">About</a></li>
            <li><a href="{site_url}contact">Contact</a></li>
        </ul>
        <ul id="copyright">
            <li class="lowercase">&copy; Copyright {current_time format='%Y'} Resource Well. All Rights Reserved.</li>
            <li><a href="{site_url}privacy_policy">Privacy Policy</a></li>
            <li><a href="{site_url}terms">Terms of Use</a></li>
        </ul>
    </div>
</div>

</body>
</html>
</html>