<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5FSVSG2');</script>
<!-- End Google Tag Manager -->


<title>Resource Well: {if embed:htmltitle != ''}{embed:htmltitle}{/if}{if embed:htmltitle == ''}Home{/if}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta charset="utf-8"/>

{if embed:htmltitle != ''}
<meta property="og:title" content="{embed:htmltitle}" />
{/if}

{if embed:lesson-url != ''}
<meta property="og:url" content="{embed:lesson-url}" />
{/if}
<meta property="og:image" content="{embed:imageurl}" />

<meta property="og:type" content="article" />

{if embed:lesson-descrip != ''}
<meta property="og:description" content="{embed:lesson-descrip}" />
{if:else}
<meta property="og:description" content="{embed:lesson-word}" />
{/if}

<meta name="p:domain_verify" content="28589b57544a0cc7babf8a8135535d9e"/> 

<link rel="shortcut icon" href="{site_url}_assets/favicon.ico" type="image/x-icon" />
<link type="text/css" rel="stylesheet" media="all" href="/_global/formalize-css" />
<link type="text/css" rel="stylesheet" media="all" href="/_global/main" />
<link href='https://fonts.googleapis.com/css?family=Actor' rel='stylesheet' type='text/css'>

<script type="text/javascript" src="https://northlandchurch.church/_assets/js/jquery-1.4.2.js"></script>
<script type="text/javascript" src="https://northlandchurch.church/_assets/js/jquery-ui-1.8.7.custom.min.js"></script>
<script type="text/javascript" src="/_global/formalize"></script>
<script type="text/javascript" src="/_global/js"></script>

<link rel="shortcut icon" type="image/ico" href="{site_url}_assets/favicon.ico" />

<script type="text/javascript">
$(document).ready(function() {
   
    $('a[href=#top]').click(function(){
        $('html, body').animate({scrollTop:0}, 'slow');
        return false;
    });

});
</script>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-F6TR031MHJ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-F6TR031MHJ');
</script>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-966214-21"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-966214-21');
</script>


</head>

<body>


<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5FSVSG2"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

