{embed="_includes/header" htmltitle="Search all Resources"}
{embed="_includes/nav" active="browse"}

<?php
	$sections = array('audio','video','documents','children','youth');
	$segment = "{segment_2}";
	$url = "{site_url}search/";
	
	if(in_array($segment,$sections))
	{
		$url .= $segment.'/tags/';
	}
	else
	{
		$url .='tags/';
	}
?>

<script type="text/javascript">

$(document).ready(function(){

	console.log("Current URL1: " + "<?php echo $url; ?>");

	$('div.result > h4').each(function () {
		switch($(this).attr('class'))
		{
			case "docx":
			case "doc":
			case "pdf":
				$(this).addClass('pdf');
				break;
			case "mov":
			case "avi":
				$(this).addClass('movie');
				break;
			case "mp3":
			case "wav":
				$(this).addClass('audio');
				break;
			default:
				$(this).addClass('pdf');
			break;
		}
	});
	

	// Triggered when 'Search' button clicked or "Enter" pressed
	$('form').submit(function (evt) {
		console.log("Form1 submitted");
		console.log("Keywords: ", $("#keywords").val());

/*
		window.dataLayer = window.dataLayer || [];
		window.dataLayer.push({
			'event' : 'search',
			'searchTerm' : $("#keywords").val() //this should be dynamically replaced with an actual search query
		});
*/
//		return false;
	});
	
});

</script>


<div class="container mid">
	<div class="subhead">
		<div class="breadcrumb">
			You are here: &nbsp;<a href="{site_url}">Home</a> &nbsp;/ Search All Resources
		</div>
		<h1 class="din">Search all Resources</h1>
	</div>

	<div class="w170 filter">
		<div class="section-down">Search</div>
		<div class="search-bar">
		{exp:search:simple_form channel="youth_unit|children_lesson|youth_lesson|children_file|youth_file" search_in="entries" result_page="search/results" no_result_page="search/noresult"}
			<input type="text" name="keywords" id="keywords" value="" size="18" maxlength="100" placeholder="Search">
		{/exp:search:simple_form}
			<p>e.g. Daniel, relationships, song</p>
		</div>
	</div>



	<div class="w710 results">
		<div class="result">
		Hello Children's Leaders!<br /> <br />
		We are working on improving our search engine. If you are unable to find something, please use our <a href="contact/">contact page</a> to let us know. We will respond quickly. Thank you! <br /><br />

		Worship, Word & Way Team 
		</div>


		{if segment_2 == 'audio'}{preload_replace:lessoncategory="26"}{/if}
		{if segment_2 == 'documents'}{preload_replace:lessoncategory="27"}{/if}
		{if segment_2 == 'video'}{preload_replace:lessoncategory="28"}{/if}

		{if segment_2 == 'children'}{preload_replace:lessoncategory="16|17|18|19|20"}{/if}
		{if segment_2 == 'youth'}{preload_replace:lessoncategory="23|24|25"}{/if}
		{if segment_2 == ''}{preload_replace:lessoncategory=""}{/if}
		<?php if(substr("{segment_2}",0,1) == "P"): ?>{preload_replace:lessoncategory=""}<?php endif; ?>


		{if segment_2 != ''}
			{exp:channel:entries channel="children_file|youth_file" category="{lessoncategory}" limit="15" sort="title" orderby="asc" paginate="bottom"}
			<div class="result">
				<h4 class="<?php $arr = explode('.', '{file_location}'); $ext = strtolower(end($arr)); echo $ext; ?>">
					<a href="{url_children_file}{file_location}">{title}</a><br />
				</h4>
				<p>{description}</p>

				<div class="meta">
					<p>
						<strong>RELATED LESSON(S):</strong><br />

						<strong>AUDIENCE:</strong> 
					</p>
				</div>
			</div>

			{paginate}
			<div class="pagination">
				<p>Page {current_page} of {total_pages} pages {pagination_links}</p>
			</div>
			{/paginate}

			{/exp:channel:entries}
		{if:else}
			<div class="result">
			</div>
		{/if}
	</div>

	<div class="clear"></div>
</div>

{embed="_includes/footer"}